* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #353535;
  background: #FFFFFF;
}

a {
  color: #353535;
  text-decoration: none;
}

ul {
  list-style: none;
}
